git+https://github.com/AtsushiMiyashita317/normalizing-flows.git
git+https://github.com/AtsushiMiyashita317/differentiable_3dshapes.git
h5py
matplotlib
numpy
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
tqdm
pytorch-lightning
wandb
